# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
env/
venv/

# Editor settings
.vscode/
.idea/

# Python environment/version
.python-version

# Databases
*.db

# Logs
*.log

# OS-specific
.DS_Store
Thumbs.db

# Dependency / build
uv.lock
